{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}


  <div class="container mt-5">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center mb-4">Crear Cuenta</h2>
      <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password1" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" name="password2" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Registrar</button>
      </form>
      <p class="text-center mt-3">¿Ya tienes cuenta? <a href="/login/">Inicia sesión</a></p>
    </div>
  </div>

{% endblock %}
